body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    background-image: url('../images/backgroud.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #ffffff;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
}

nav > ul {
    display: flex;
}

.content {
    padding: 20px;
    color: #ffffff;
}

.footer {
    position: fixed;
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    bottom: 0;
    width: 100%;
}